
 
body {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 40px;
}
.card
{
    background-color: rgb(240, 240, 240);
    width: 50vw;
}
h1
{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    margin-top: 20px;

}
.cartadeApresentação
{
  
    width: 40vw;
    margin-top: 20px;
}
.certificacoes
{
    width: 40vw;
    margin-top: 20px;
}
.termos
{
    width: 40vw;
    margin-top: 20px
}
.idiomas
{
    width: 30vw;
}
.botao
{
    display: flex;
    justify-content: center;

}
.button{
    background-color: #3059dd;
    margin-top: 20px
}

.nomesobre {
    display: flex;
    width: 950px;
    color: #CCC;
}

.nome {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    margin-top: 20px;
}
.sobrenome {
    width: 50vW;
    margin-left: 10px;
    margin-top: 20px
}
.checkboxs
{
    display: flex;
    flex-direction: column;
}
.disponibilidades
{
    width: 30vw;
    margin-top: 20px
}
.idiomas
{
    width: 30vw;
    margin-top: 20px
}
.curriculo
{
    margin-top: 20px;
}
footer
{
    display: flex;
    justify-content: center;
}