
body {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 10px;
    background-color: #27272A;
}
.card
{
    background-color: rgb(213, 213, 218);
    width: 50vw;
    margin-top: 20px;
}
h1
{
    display: flex;
    width: 40vw;
    color: #fff;
    justify-content: space-around;
    margin-top: 20px;

}

.cartadeApresentação
{
  
    width: 40vw;
    margin-top: 20px;
}
.certificacoes
{
    width: 40vw;
    margin-top: 20px;
}
.termos
{
    width: 40vw;
    margin-top: 20px
}
.idiomas
{
    width: 30vw;
}
.botao
{
    display: flex;
    justify-content: center;

}
.button{
    background-color: #3059dd;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

.nomesobre {
    display: flex;
    width: 950px;
    color: #CCC;
}

.nome {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    margin-top: 20px;
}
.sobrenome {
    width: 50vW;
    margin-left: 10px;
    margin-top: 20px
}
.checkboxs
{
    display: flex;
    flex-direction: column;
}
.disponibilidades
{
    width: 30vw;
    margin-top: 20px
}
.idiomas
{
    width: 30vw;
    margin-top: 20px
}
.curriculo
{
    margin-top: 20px;
}
footer
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #0c36bd;
}
h2
{
    color: #fff;
}

.card-content
{
    color:#0c36bd;
}
.dadospessoais
{
    color: #0c36bd;
}