body {
    margin: 30px;
    margin-top: 40px;
}

.columns {
    width: 45%;
    padding: 20px;
    border: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    margin-top: 30px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}

.nomesobre {
    display: flex;
    width: 550px;
    color: #CCC;
}

.nomesobre .contents .datacpf .cepen .complenumero {
    flex-grow: 1;
    flex-direction: column;
    padding: 90px;
}

.nomesobre .contents .sobrenome .datacpf .cepen .complenumero {
    margin-top: 10px;
}

.datacpf {
    display: flex;
    width: 550px;
    color: #CCC;
}

.cepen {
    display: flex;
    width: 550px;
    color: #CCC;
}

.complenumero {
    display: flex;
    width: 550px;
    color: #CCC;
}

.nome {
    display: flex;
    width: 60vw;
    justify-content: space-around;
    margin-top: 20px
}
.sobrenome {
    height: 60px;
    width: 60vW;
    margin-left: 10px;
    margin-top: 20px
}
.nascimento {
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
.cpf{
    height: 60px;
    width: 60vW;
    margin-left: 10px;
}
.cep{
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
.endereco{
    height: 60px;
    width: 60vW;
    margin-left: 10px;
}
.numero{
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
.complemento{
    height: 60px;
    width: 60vW;
    margin-left: 10px;
}
