@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #18181B;
}

*{
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 45px;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    /* text-shadow: 2px 2px 10px black; */
}

#titulo{
    padding: 20px;
}

.topo{
    display: flex;
    justify-content: center;
}

.opcoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #18181B;
    color: white;
    width: 1100px;
    height: 680px;
    margin-left: 430px;
    border: solid #0044ff;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    padding: 10px 30px 10px 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
}

.linha{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    /* text-shadow: 2px 2px 10px black; */
}

a{
    text-decoration: none;
    color: #0044ff;
    font-size: 20px;
    transition: all 0.1s ease;
}

a:hover{
    transform: scale(1.01);
}

i{
    margin-right: 10px;
    color: #0044ff;
}

hr{
    /* color: #1d4ed8; */
    height: 3px;
    border: none;
    background-color: white;
}



.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
 
.modal-content{
    background-color: #101011;
    margin: 7% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 30%;
    border: 2px solid #1d4ed8;
    border-radius: 30px;
    box-shadow: 0 4px 40px 5px rgba(0, 0, 0, 0.642) /*//,0 6px 20px 0 rgba(0,0,0,0.19)*/;
}
 
.close{
    color: #aaa;
    float: rigth;
    /* font-size: 28px; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.close:hover,
.close:focus{
    color: #1d4ed8;
    text-decoration: none;
    cursor: pointer;
}
 
.modalAction{
    color: #aaa;
    float: rigth;
    /* font-size: 28px; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.modalAction:hover,
.modalAction:focus{
    color: #1d4ed8;
    text-decoration: none;
    cursor: pointer;
}
 
h5{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 1px;
}
 
button{
    margin-left: 160px;
    width: 90px;
    height: 50px;
    background-color: #1d4ed8;
    padding-top: 12px;
    border: none;
    border-radius: 15px;
}
 
#changePasswordAction:hover{
    color: black;
    text-decoration: none;
}
 
input{
    color: white;
    background-color: #27272a;
    border-radius: 10px;
    height: 35px;
    border: none;
}
 



/* RESPONSIVIDADE DE PIXEL 7*/
@media only screen and (max-width: 576px){
    h1{
        display: flex;
        justify-content: flex-start;
    }

    .opcoes{
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        width: 350px;
    }

    .topo{
        display: flex;
        justify-content: flex-start;
    }

    .modal-content{
        width: 350px!important;
        margin: 40% auto;
    }
 
    button{
        margin-left: 110px;
    }

    .footer{
        margin-left: 10px;
    }

    .footer-col{
        margin: 15px;
    }

    .copyright{
        margin: 0px;
        font-size: 70%;
    }

}