@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

*{
    color: white;    
}
 
h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px black;
}

body{
    background-color: #27272a;
    
}


nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.frase{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.frase::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0044ff;
    transition: all 0.3s ease;
}

.frase:hover::after{
    width: 70%;
}

.dropdown {
    position: relative;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 226px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

.dropdown-content a:hover{
    color: #0044ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#teste
{
    color: white;
    font-size: 80px;
    letter-spacing: -20px;
}
 
 
.nav-logo{
    max-width: 100px;
}
 
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    
}
 
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}
 
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0044ff;
    transition: all 0.3s ease;
}
 
.link a:hover::after{
    width: 70%;
}

/*  */
 
#contato{
    background-color: #27272A;
    margin-left: 15px;
    width: 25.5rem;
    border: 2px solid #1d4ed8;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
 
#input{
    background-color: #27272A;
    margin-right: 16px;
    margin-left: 14.5px;
    border: 2px solid #1d4ed8;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
 
#input1{
    background-color: #27272A;
    margin-left: 15px;
    width: 29.8rem;
    border: 2px solid #1d4ed8;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
 
.caixa{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
}
 
.formulario{
    margin-right: 120px;
}
 
/* .escrita{
 
} */
 
.botao{
    background-color: #1d4ed8;
    color: white;
    margin-top: 15px;
    border: none;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
 
.botao:hover {
    background-color: #1e40af;
    border-color: white;
    font-size: 19px;
}
 
.nome{
    font-size: 30px;
    color: #1d4ed8;
    text-shadow: 2px 2px 10px black;
}
 
 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.fraseFinal{
    font-size: 18px;
}
 
.linha{
    height: 3px;
    border: none;
    background-color: white;
}
 
.redesSociais{
    color: #1d4ed8;
    text-shadow: 2px 2px 10px black;
}
 
.apps{
    display: flex;
    justify-content: space-around;
}
 
.icon{
    cursor: pointer;
    transition: all 0.1s ease;
}
 
.icon:hover{
    transform: scale(1.2);
}
 
 
@media (min-width: 410px) and (max-width: 920px) {
    /* Estilos para telas entre 768 e 1024 pixels de largura */
.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
 
.caixa{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
}
 
.formulario{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
 
#input1{
    width: 20rem;
}
 
#contato{
    width: 20rem;
}
 
.inicio{
    display: flex;
    justify-content: center;
}
 
.nome{
    /* display: flex;
    Justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row; */
    margin-left: -220px;
}
 
.frase{
    margin-left: 15px;
}
 
.lateral{
    margin-top: 100px;
}
 
.redesSociais{
    display: flex;
    justify-content: center;
    margin-left: 15px;
}
 
.apps{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
}
 
.fraseFinal{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
 
.botao{
    margin-left: 30px;
}
 
}
 
@media (min-width: 1020px) and (max-width:1400px) {
 
.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
 
.caixa
{
     margin-left: 150px;
}
 
.frase
{
    margin-left: 190px;
}
 
.nome
{
    margin-left: 160px;
}
 
.botao
{
    margin-left: 300px;
 }
 
.redesSociais
{
        margin-top: 100px;
        margin-left: 330px;
}
 
.apps
{
     margin-left: 300px;
     display: flex;
     justify-content: space-between
}
 
.linha
{
    margin-left: 295px;
}
 
.fraseFinal
{
     margin-left: 290px;    
}

}