*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background: #101010;
}

section{
    padding: 40px 15%;
}
.contact{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 5rem
}

.inicio-img{
    border-radius: 50%;
}
 
.inicio-img img{
    margin-left: 8rem;
    margin-bottom: 11rem;
    position: relative;
    top: 3rem;
    width: 25vw;
    border-radius: 25%;
    box-shadow: 0 0 25px #0044ff;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
 
.inicio-img img:hover{
    box-shadow: 0 0 25px #0044ff,
                0 0 30px #0044ff,
                0 0 50px #0044ff;
}

.contact-form h1{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
}
span{
    color: #0044ff;
}

.contact-form p {
    color: #ffffffbf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contact-form form{
    position: relative;
}

.contact-form form input,
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form form .btn{
    display: inline-block;
    background: #0026ff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover{
    border: 2px solid #0044ff;
    background: transparent;
    transform: scale(1.1);
}

@media(max-width: 1570px){
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    .contact-form h1{
        font-size: 60px;
    }
    .contact-form p{
        margin-bottom: 3rem;
    }

    .inicio-img img{
        margin-top: 8rem;
    }
}
@media(max-width: 1090px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }

    .inicio-img img{
        margin-top: 8rem;
    }
    
}

@media(max-width: 1000px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order: 2;
    }

    .inicio-img img{
        display: none;
    }
    
}