@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&family=Quicksand&display=swap');
 
body{
    background-color: #18181B;
}
 
h1{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
 
h2{
    font-family: 'Quicksand', sans-serif;
    color: #0044ff;
}
 
.geral{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
 
.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
 
.edicoes{
    font-size: 120%;
}
 
.campo{
    width: 400px;
    height: 35px;
    border: solid white;
    border-radius: 50px;
    background-color: #18181B;
}
 
input, value{
    color: white;
}
 
.button{

    padding: 15px 35px;
    margin-bottom: 20px;
    font-size: 100%;
    color: #fff;
    background-color: #0044ff;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

.button a{
    text-decoration: none;
    color: #fff;
}

.botao{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 40px;
}


/* RESPONSIVIDADE DE CELULAR (PIXEL 7) - DIMINUIR TAMANHO DOS INPUT*/
@media only screen and (max-width: 900px){
    
    .geral{
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0%;
    }

    .campo{
        width: 50px;
    }

    .container{
        margin-left: 10px;
        margin-top: 5px;
    }

    .container2{
        margin-top: 0px;
        margin-left: 10px;
    }

    p{
        font-size: 110%;
    }

    .button{
        justify-content: center;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px){
    
    .geral{
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0%;
    }

    .campo{
        width: 100px;
    }

    .container{
        margin-left: 10px;
        margin-top: 5px;
    }

    .container2{
        margin-top: 0px;
        margin-left: 10px;
    }

    p{
        font-size: 110%;
    }

    .button{
        justify-content: center;
        margin-right: 30px;
    }
}


/* RESPONSIVIDADE TABLET EM PÉ 900PX - IPAD AIR */
@media only screen and (max-width: 1200px){
    .geral{
        flex-direction: column;
        justify-content: center;
    }

    .campo{
        width: 500px;
    }

    .container2{
        margin-top: 0px;
    }

    .button{
        justify-content: center;
        margin-right: 5px;
    }
} 
