@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #18181B;
}

h1{
    display: flex;
    justify-content: center;
    color: #0044ff;
    font-size: 400%;
    font-family: "Poppins", sans-serif;
}

h4{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Poppins", sans-serif;
}

.edite{
    background: var(--bg-color); /* ? */
    color: white;
    font-family: "Poppins", sans-serif;
}

.edite h4{
    margin-bottom: 5rem;
    color: white;
    font-family: "Poppins", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.0rem;
}

.box{
    background-color: #0044ff;
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.box:hover{
    background: #ffffff;
    color: #0044ff;
    transform: scale(1.03);
    font-family: "Poppins", sans-serif;
}

.box:hover input{
    border: solid #0044ff;
}

.box .info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 3rem;
}

.info h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
}

.info input{
    width: 350px;
    height: 30px;
    margin-top: 20px;
    border-radius: 2rem;
    border: none;
    font-family: "Poppins", sans-serif;
}

button{
    margin-top: 50px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    background-color: #0044ff;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 110%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}


.importantes{
    margin-left: 620px;
    margin-top: 80px;
}


.importantes input{
    background-color: #18181B;
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: solid #0044ff;
    color: white;
    font-family: "Poppins", sans-serif;
}

#input{
    color: white;
}

textarea{
    background-color: #18181B;
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: solid #0044ff;
    color: white;
    font-family: "Poppins", sans-serif;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maiores{
    font-size: 200%;
}


span{
    color: #0044ff;
}



@media only screen and (max-width: 576px){
    h1{
        display: flex;
        justify-content: flex-start;
        font-size: 220%;
    }

    h4{
        display: flex;
        justify-content: flex-start;
    }

    .box{
        display: grid;
        width: 350px;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }

    .box input{
        width: 250px;
    }

    .importantes{
        margin-left: 10px;
    }

    .importantes input{
        width: 70%;
    }

    textarea{
        width: 70%;
    }
}
