@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&family=Quicksand&display=swap');

:root{

    /* frase e container e nome e titulo*/
    --principal: #2882ba;

    /* botao */
    --botao:#2882ba;

    /* escolha (frase) */
    --frase:#000000;

    /* fontes */
     --fonte: 'Quicksand', sans-serif;
    
}

body{
    background-color:  #27272a!important;
}

*{
    /* background-color: rgb(14, 14, 44); */
    color: white!important;
    
}

#frase{
    display: flex;
    justify-content: center;
    color: #1d4ed8;
    font-size: 115%;
    font-family: 'Quicksand', sans-serif;
}
.escolha{
    color: var(--frase);

}

.escolha input{
    cursor: pointer;
    
}

#titulo{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    padding-top: 20px;
    color: var(--principal);
}

.container{
    height: 730px;
    width: 900px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 2%;
    border: solid 5px #1d4ed8;
    
   
}

.nome{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    color: var(--principal);
    border: solid 2px #1d4ed8;
}

.escolhas{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    
    
}


.enviar{
    
    background-color: var(--botao);
    cursor: pointer;
}

.botao{
    justify-content: end;
    display: flex;
    text-decoration: none;
}


.botao a{
    justify-content: end;
    display: flex;
    text-decoration: none;
}




