@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&family=Quicksand&display=swap');

*{
    /* background-color: rgb(14, 14, 44); */
    color: white;
    
}

#frase{
    display: flex;
    justify-content: center;
    color: rgb(40, 130, 186);
    font-size: 115%;
    font-family: 'Quicksand', sans-serif;
}
.checkbox{
    color: black;
}

#titulo{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    padding-top: 20px;
    color: rgb(40, 130, 186);
}

.container{
    
 
    height: 730px;
    width: 900px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 2%;
    border: solid 5px rgb(40, 130, 186);
    
   
}

.nome{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    color: rgb(40, 130, 186);
    border: solid 2px rgb(40, 130, 186);
}

.escolhas{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    
}


.enviar{
    
    background-color: blue;
}
label{
    margin-right: 20px;
}
