@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #18181B;
}

.cadastro{
    
    display: flex;
    justify-content: center;
}
.cadastro.title
{
    color: #ffffff;
}


body .card {
    background-color:  rgb(14, 14, 44);;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(12, 4, 119, 0.61), 0 0 0 1px rgba(16, 14, 148, 0.87);
    color: #ffffff;
    max-width: 100%;
    position: relative;
}

.card {

    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.cartadeApresentação {

    width: 40vw;
    margin-top: 20px;
}

.certificacoes {
    width: 40vw;
    margin-top: 20px;
}

.termos {

    width: 40vw;
    margin-top: 20px
}

.idiomas {
    width: 30vw;
}

.botao {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 20px;
    font-size: 18px;
}

.nomesobre {
    display: flex;
    width: 650px;
    color: #CCC;
}

.nome {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    margin-top: 20px;
}

.sobrenome {
    width: 40vW;
    height: 10px;
    margin-left: 20px;
    margin-top: 20px
}

.select
{
    height: 20px;
}
h5 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.checkboxs {
    display: flex;
    flex-direction: column;
}

.disponibilidades {
    width: 30vw;
    margin-top: 20px
}

.idiomas {
    width: 30vw;
    margin-top: 20px
}

.curriculo {
    margin-top: 20px;
}

.h2 {
    color: #fff;
}

.telend {
    display: flex;
    width: 650px;
    color: #CCC;
}

.cepnu {
    display: flex;
    width: 650px;
    color: #CCC;
}

.datase {
    display: flex;
    width: 650px;
    color: #CCC;
}

.generos {
    display: flex;
    justify-content: flex-end;
}
.control
{
    height: 50px;
}
.disponibilidades
{
    margin-top: 10px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}
.cargos
{
    width: 20vw;
    height: 20vw;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1d4ed8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #1d4ed8;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

/*@media screen and ( max-width: 576px )
{
body
    {
        display: flex;
        flex-direction: column;
    }
}