@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}
 
body{
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #272727; */
    background-image: url(image/dark.jpg);
    font-family: 'Poppins' !important;
}
 
#logo{
    color: white;
    text-shadow: 2px 2px #0044ff;
    font-size: 2em;
    margin-bottom: 480px;
    position: absolute;
}
 
#frase{
    color:white;
    position: absolute;
    font-size: 1.3em;
    margin-bottom: 250px;
    opacity: 70%;
}
 
#frase1{
    font-weight: normal;
    font-size: 1.1em;
    color: rgb(97, 97, 97);
    margin-bottom: 140px;
    /* position: absolute; */
}

#botao{
    color: white;
}
 
 
#input{
    width: 240px;
    height: 45px;
    border-radius: 15px;
    border: solid 2px white;
    outline: none;
    background: transparent;
    padding-left: 10px;
}

#input:hover{
    border: solid 2px #0044ff;
}
 
.inputs{
    margin-top: 110px;
    position: absolute;
}
 
input::placeholder{
    font-size: 16px;
}
 
input[type="text"]{
    color: white
}
 
/* input#input:-webkit-autofill {
    -webkit-text-fill-color: #272727!important;
} */
 
#botao{
    margin-top: 390px;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: #0044ff;
    position: absolute;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}
 
#botao:hover {
    transform: scale(1.1);
}
 
 
.box{
    position: relative;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    border-radius: 20px;
    opacity: 90%;
    overflow: hidden;
    /* background-color: rgba(0,0,0,0.2); */
}
 
.box::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 850px;
    background: linear-gradient(#0044ff, white, transparent, transparent);
    animation: rotate 5s linear infinite;
}
 
.box::after{
    content: '';
    position: absolute;
    background: #272727;
    inset: 3px;
    border-radius: 16px;
}
 
@keyframes rotate{
    from{
        transform: rotate (0deg)
    }
    to{
        transform: rotate(360deg)
    }
}