body{
    background-color: #18181B;
    margin-left: 100px;
}
 
h1{
    color: rgb(40, 130, 186);
}
 
h2{
    color: rgb(40, 130, 186);
    margin-top: 50px;
}
 
p{
    color: white;
}
 
textarea{
    border: solid rgb(40, 130, 186);
    background-color: #18181B;
    color: white;
}
 
.adicionar{
    border: solid rgb(40, 130, 186);
    background-color: #18181B;
    height: 30px;
    width: 500px;
    border-radius: 50px;
    color: white;
}

#adicionar{
    border: solid rgb(40, 130, 186);
    background-color: #18181B;
    height: 30px;
    width: 500px;
    border-radius: 50px;
    color: white;
}
 
button{
    border: solid rgb(40, 130, 186);
    background-color: #18181B;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}
 
.botao{
    color: rgb(238, 129, 129);
    width: 100px;
    height: 40px;
    border-radius: 50px;
}

#salvar{
    width: 150px;
    height: 50px;
    background-color: rgb(40, 130, 186);
}

hr{
    opacity: 30%;
}


/* RESPONSIVIDADE DE PIXEL 7 */
@media only screen and (max-width: 600px){
    body{
        margin-left: 10px;
    }

    textarea{
        width: 350px;
    }

    .adicionar{
        width: 280px;
    }

    #adicionar{
        width: 280px;
    }

    .botao{
        font-size: 80%;
        width: 90px;
    }
}



/* RESPONSIVIDADE IPAD AIR */

@media only screen and (max-width: 1200px){
    
}