@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&family=Quicksand&display=swap');


body{
    background-color: #18181B;
    margin-left: 100px;
}
 
h1{
    color: #0044ff;
    font-family: 'Quicksand', sans-serif;
}
 
h2{
    color: #0044ff;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
}
 
p{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
 
textarea{
    border: solid #fff;
    background-color: #18181B;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
 
.adicionar{
    border: solid #fff;
    background-color: #18181B;
    height: 30px;
    width: 500px;
    border-radius: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#adicionar{
    border: solid #fff;
    background-color: #18181B;
    height: 30px;
    width: 500px;
    border-radius: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
 
button{
    padding: 10px 25px;
    margin-bottom: 20px;
    font-size: 100%;
    color: #fff;
    background-color: #0044ff;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: solid #0044ff;
}

button:hover{
    transform: scale(1.1);
}
 
.botao{
    padding: 5px 15px;
    margin-left: 5px;
    color: #fff;
    background-color: #0044ff;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

#salvar{
    padding: 15px 40px;
    color: #fff;
    margin-top: 20px;
    background-color: #0044ff;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}




/* RESPONSIVIDADE DE PIXEL 7 */
@media only screen and (max-width: 600px){
    body{
        margin-left: 10px;
    }

    textarea{
        width: 350px;
    }

    .adicionar{
        width: 280px;
    }

    #adicionar{
        width: 280px;
    }

    .botao{
        font-size: 90%;
        width: 90px;
    }

}


/* RESPONSIVIDADE IPAD AIR */

@media only screen and (max-width: 1200px){
    
}