@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    background-color: #18181B;
    color: white;
    font-family:'Inter', sans-serif;
}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 img{
    width: 210px;
    border-radius: 150px;
    /* border: solid  3.5px rgb(40, 130, 186); */
 }


 
h4{
    margin-bottom: 40px;
    margin-top: -5px;
}



 
#imagem{
    border: solid 3.5px #0044ff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.info{
    margin: 20px;
    border: solid 2px #0044ff;
    border-radius: 30px;
    width: 700px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
 
/* .topo{
 
}
 
.container{
 
} */
 
.patrocinador{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: -350px;
}

.patrocinadorDireita{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: -350px;
}



/* PIXEL 7 */
@media only screen and (max-width: 576px){
    
}