@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    background-color: #18181B;
    color: white;
    font-family:'Inter', sans-serif;
}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 img{
    width: 210px;
    border-radius: 150px;
    /* border: solid  3.5px rgb(40, 130, 186); */
 }


 
h4{
    margin-bottom: 40px;
    margin-top: -5px;
}



 
#imagem{
    border: solid 3.5px #0044ff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    margin: 20px;
    border: solid 2px #0044ff;
    border-radius: 30px;
    width: 700px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

/* .topo{
 
}
 
.container{
 
} */
 
.patrocinador{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: -350px;
}

.patrocinadorDireita{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: -350px;
}

.row{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 180px;
    margin-right: 360px;
}

.footer{
    padding: 5px 0;
    margin-left: 20rem;
    display: flex;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 17px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #0044ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    padding-top: 2px;
    width: 10rem;
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #0044ff;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}



/* PIXEL 7 */
@media only screen and (max-width: 576px){

    body{
    }

    .patrocinador{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: -320px;
        margin-bottom: 100px;
    }

    /* .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */

    .patrocinadorDireita{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -350px;
        margin-bottom: 100px;
    }

    .info{
        width: 320px;
        height: 630px;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -110px;
    }

    .footer-col .social-links{
        display: flex;
        justify-content: center;
        width: 250px;
        margin-left: -30px;
    }
}