@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@300&family=Quicksand&display=swap');

body{
    background-color: #18181B;
}

.cabecario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#nome{
    color: white;
    margin-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
}
 
.foto{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

h3{
    font-size: 140%;
    color: rgb(40, 130, 186);
    font-family: 'Open Sans', sans-serif;
}

ul,li{
    font-size: 115%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

p{
    font-size: 130%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.button{
    width: 150px;
    height: 50px;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    background-color: #18181B;
    border: solid 2px rgb(40, 130, 186);
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.button a {
    text-decoration: none;
    color: rgb(40, 130, 186);
}



.footer{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   margin-left: 5rem;
}
.footer-col h4{
    font-size: 21px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #1d4ed8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li{
    margin-bottom: 10px;
    list-style-type: none;
}
.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #1d4ed8;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
 
.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}



/* RESPONSIVIDADE PIXEL 7*/
@media only screen and (max-width: 600px){

    .button{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .footer{
        flex-direction: column;
    } 
}

/* RESPONSIVIDADE TABLET EM PÉ 900PX - IPAD AIR*/
@media only screen and (min-width: 768px){
    /* Não é necessário */
}